.vs/
BolsaFamilia.Shared.Entity/bin/
BolsaFamilia.Shared.Entity/obj/
BolsaFamilia.Shared.Infra/bin/
BolsaFamilia.Shared.Infra/obj/
BolsaFamilia.Shared.Infra/obj/BolsaFamilia.Shared.Infra.csproj.nuget.dgspec.json
BolsaFamilia/obj
BolsaFamilia/bin
BolsaFamilia.Business/bin
BolsaFamilia.Business/obj
